body {
    font-family: Arial;
    direction: rtl;
    background: #f4f4f4;
    padding: 20px;
}

header {
    background: #2c3e50;
    color: white;
    padding: 15px;
    margin-bottom: 20px;
}

#timer {
    font-size: 20px;
    color: yellow;
}

form {
    background: white;
    padding: 20px;
}

input, textarea {
    width: 100%;
    margin-bottom: 15px;
}
